<!-- <div class="ms-0 ms-lg-5">
                                <%if(locals.orderlist) { %>
                                    <%for( let i = 0 ; i < orderlist.length ; i++ ){%>
                                        <div class="p-2 p-md-4 p-lg-4 shadow-sm border d-flex justify-content-between bg-white">
                                            <div class="col-6 row">
                                                <div class="col-3 d-flex justify-content-center">
                                                    <img src="<%=orderlist[i].primaryImage[0].path%>"
                                                        alt="<%=orderlist[i].primaryImage[0].name%>" class="orderImage">
                                                </div>
                                                <div class="col-9">
                                                    <h6><%=orderlist[i].title%></h6>
                                                    <div class="text-muted">
                                                        <p class="mb-1">Color: <%=orderlist[i].color%></p>
                                                        <p><%=orderlist[i].size ? 'size:' orderlist[i].size:'';%> </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <p><i class="fas fa-indian-rupee sign"></i>
                                                    <%=locals.orders[i].cartPrice%></p>
                                            </div>
                                            <div class=" col-4">
                                                <h6 class="fw-bold"><%=locals.orders[i].orderStatus%></h6>
                                                <p>Your order is confirmed and is in processing.</p>
                                            </div>
                                        </div>
                                        <% } %>
                                    <% } %>
                            </div> -->